body {
    h1 {
    color: #c69;
  }
}

.btn {
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  line-height: 20px;
  border-radius: 2px;

  &:disabled {
    opacity: 0.5;

    // targeting specifically button__price here, can't use &__price
    // can't use the & once I'm in a more specific scope
    .btn__price {
      background: #aaaaaa;
    }
  }

  // modifier will need the full path
  // modifier will begin &.
  // .btn.btn--mode-primary {
  &.btn--mode-primary {
    background: rgb(204, 68, 102);
    color:rgb(255, 255, 255);
  }

  // &--mode-secondary { -> .btn--mode-secondary
  &.btn--mode-secondary {
    background-color:rgb(237, 188, 200);
  }

  // elements will begin &__
  // .btn__price 
  &__price {
    padding: 1px 3px;
    background-color:#008000;
  }
}