$prefix-objects: ('t': 'top', 'b': 'bottom', 'l': 'left', 'r': 'right');
$dimensions: ('m': 'margin', 'p': 'padding');

@for $i from 1 through 5 {
	$size: $i * 5;
	@each $prefix, $direction in $prefix-objects {
		@each $space-option-first-letter, $space-option in $dimensions {
			.#{$space-option-first-letter}-#{$prefix}-#{$size} { 
					#{$space-option}-#{$direction}: #{$size}px;
			}
		}
	}
}